<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ruarch.penttvlive" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PentTV</name>
    <description>
       Pent TV  - It's all about Jesus
    </description>
    <author email="iteearmah@gmail.com" href="http://ruarch.net">
        Samuel Armah
    </author>
    <content src="package.json" />
    <access origin="*" />
     <platform name="android">
        <icon src="logo.png" />
    </platform>
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="https://github.com/admob-google/admob-cordova.git" />
    <plugin name="https://github.com/nchutchind/cordova-plugin-streaming-media.git" />
    <plugin name="https://github.com/katzer/cordova-plugin-background-mode.git" />
    <plugin name="https://github.com/apache/cordova-plugin-splashscreen.git" />
    <platform name="android">
     <splash src="splash-screen.png"/>
    </platform>
    <preference name="SplashScreenDelay" value="10000" />
</widget>
